<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404.css" />
    <link
      rel="stylesheet"
      href="../../../../assets/icon/themify-icons-font/themify-icons/themify-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="theme">
      <nav>
        <div class="logo">
          <img class="logo-image" src="/image/CFWK+LOGO_GRY.png" alt="" />
        </div>
        <ul class="navbar-selection">
          <li class="navbar-option">For employers</li>
          <li class="navbar-option">Our clients</li>
          <li class="navbar-option">Blog</li>
        </ul>
      </nav>
      <div class="container">
        <div class="content">
          <h1 class="content-element">OOPS ... DONT'T WORRY.</h1>
          <p class="content-element">
            The page you are looking for isn't available. Please return to Home
            Page.
          </p>
          <div class="button">
            <i class="ti-arrow-left"></i>
            <a href="/">Go back</a>
          </div>
        </div>
        <div class="background">
          <img
            class="background-image"
            src="/image/404-background.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
